<div class="btn-container">
  <a (click)="slideInAnimation(1)">Slide From Top</a>
  <a (click)="slideInAnimation(2)">Slide From Right</a>
  <a (click)="slideInAnimation(3)">Slide From Bottom</a>
  <a (click)="slideInAnimation(4)">Slide From Left</a>
</div>
<div class="animation-container">
  <p [@slideFromTop]='slideFromTopState'class="slide-from-top" >
    Slide From Top
  </p>
  <p [@slideFromRight]='slideFromRightState'class="slide-from-right" >
    Slide From Right
  </p>
  <p [@slideFromBottom]='slideFromBottomState'class="slide-from-bottom" >
    Slide From Bottom
  </p>
  <p [@slideFromLeft]='slideFromLeftState'class="slide-from-left" >
    Slide From Left
  </p>
</div>
